-verbose:class
-server
-Xloggc:/var/log/presto/var/log/presto-gc.log
-XX:+PrintGCDetails
-XX:+PrintGCDateStamps
-XX:+UseGCLogFileRotation
-XX:NumberOfGCLogFiles=10
-XX:GCLogFileSize=100M
-Dcom.sun.management.jmxremote
-Dcom.sun.management.jmxremote.port=9015
-Dcom.sun.management.jmxremote.local.only=false
-Dcom.sun.management.jmxremote.authenticate=false
-Dcom.sun.management.jmxremote.ssl=false
-Xmx100G
-XX:+UseG1GC
-XX:+AggressiveOpts
-XX:OnOutOfMemoryError='kill -9 %p'
-XX:ReservedCodeCacheSize=150M
